.corpo {
    width: 230px;
    height: 300px;
    background-color: black;
    padding: 20px;
    margin: 200px auto;

}

.corpo .visor {
    background-color: white;
    width: 230px;
    height: 45px;
}
.corpo .visor input {
    text-align: end;
    width: 224px;
    height: 37px;
    background-color: white;
}